@import "tailwindcss";

@theme {
  --font-display: "Playfair Display", Georgia, serif;
  --color-background-light: #fdfbf7;
}

@layer base {
  a {
    color: inherit;
  }
  body {
    font-family: "Plus Jakarta Sans", system-ui, sans-serif;
    background-color: var(--color-background-light);
  }
}

.gradient-mesh {
  background-color: #fdfbf7;
  background-image:
    radial-gradient(at 40% 20%, hsla(28, 100%, 74%, 0.1) 0px, transparent 50%),
    radial-gradient(at 80% 0%, hsla(189, 100%, 56%, 0.05) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(340, 100%, 76%, 0.05) 0px, transparent 50%);
}
